/* global */
*{
    box-sizing: border-box;

}

html, body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #FAF4F2;
}
.clear{
    clear: both;
}
p, h2, h4{
    color: gray;
}

/* start header */
.header {
    background-color: #F8E1DB;
    padding: 1px 0;
}
.header ul{
    list-style: none;
    
}
.header li{
    display: inline;
    margin: 0 15px;
    
}

.header a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    
}   
.header img{
    /*
    top : 30px;
    bot : 0px;
    left, right: 50px;
    
    */
    padding: 10px 50px 0px; 
}
.header #active{
    color: red;
}

/* end header */

/* start carousel */
.carousel{
    background-image: url("../img/BG.png");
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover; /*giãn hình ra 2 bên*/
    background-position: center; 
}
/* end carousel */

/* start activities */
.activities{
    background-color: #FAF4F2;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    color: gray;
}
.activities__item{
    float: left;
    width: 25%;
    
}
.activities__item__detail{
    border: none;
    border-radius: 20px;
    margin: 15px;
    padding: 25px;
    background-color: white;
    text-align: center;
    


}
.activities__item__detail img{
    width: 100%;
    border: none;
    border-radius: 20px;
}
.activities__item__detail button{
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: #B0AEAD;
}
.viewAll{
    position: relative;
    left: 42%;
    top: 20px;
    padding: 10px 70px;
    border: solid 1px orangered;
    background-color: #FAF4F2;
    color: orangered;
    border-radius: 20px;

}
.heart{
    position: relative;
    top: 100px;
    left: 68%;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.518);
    border: none;
    border-radius: 10px;
    color: rgb(240, 97, 44);
    text-align: center;
}
.heart i{
    position: relative;
    top:10px;
}

/* stary contact */
.contact{
    background-color: #F8E1DB;
    border: none;
    border-radius: 10px;
    margin: 80px 0px;
}
.contact__content{
   padding: 25px;
   margin-top: 30px;
}
.contact__item{
    float: left;
    width: 50%;
    padding: 0 10px;
}
.contact__right{
    line-height: 18px;
}
.action__name{
    float: left;
    width: 50%;
}
.action__item{
    float: left;
    width: 50%;
}
.action__item img{
    width: 140px;
}
.action__item i{
    color: #E76F51;
    margin: 0 3px;
    font-size: 20px;
}

/* footer */
.footer{
    width: 100%;
    height: 250px;
    background-color: #F8E1DB;
    border: none;
    border-radius: 30px 30px 0px 0px;
}
.footer__item{
    float: left;
    width: 25%;
    padding: 0 20px;
    line-height: 20px;
}
.footer h4, .footer p{
    color: black;
}
.coppy{
    text-align: center;
    margin: 20px;
}





    






